<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.worm_cat.mapper.system.SysRolePermMapper">

    <resultMap id="BaseResultMap" type="com.miracle.worm_cat.domain.system.SysRolePerm">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="permId" column="perm_Id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,perm_Id
    </sql>

    <select id="permsByRoleId" resultType="java.lang.Integer">
        SELECT perm_id FROM sys_role_perm WHERE role_id = #{roleId}
    </select>
    <select id="authPermListByRole" resultType="com.miracle.worm_cat.dto.system.staff.RolePermDTO">
        SELECT sp.perm_uri `permUri`, sp.req_method `reqMethod`
        FROM sys_role_perm srp
                 INNER JOIN sys_perm sp ON sp.id = srp.perm_Id
        WHERE role_id = #{roleId};
    </select>
</mapper>
